$scroll-thumb: rgba(64,64,64,0.1);
$testing: true;
@mixin testing ($colour:red) {
    @if ($testing) {
        border: 3px solid $colour;
    }
    
}
//nest these properly later
#line{
    position:relative;
    width: 100%;
    margin: 20px 0;
    height: 300px;
    background: #eee;
}
#bird {
    position: absolute;
    top: 0px;
    left: 0px;
    width:  20px;
    transition: 0.15s;
}
path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}
//wrapper for demo and header, and maybe nav (want to have it sitting on wire)
body {
    overflow-x: hidden;
    h1 { font-size: 3em;}
    h2 { font-size: 2em;}
}
.wrapper {
    width: 100%;
    @include testing(blue);
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    nav {
        position: absolute;
        bottom: 0px;
    }
}
//contains all code examples
main {
    position: relative;
    width: 100%;
    @include testing(red);
    //background-color: bisque;
    transform-style: preserve-3d;
    perspective: 2000px;
    perspective-origin: 50% 0%;
    min-height: 80vh;
    section {
        //@include testing(green);
        position: absolute;
        top: 0px;
        left: 50%;
        //transform: translate(-50%, 0);
        transform-origin: center center -35vw;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 2s;
        transition-delay: 1s;
        &.scss {
            transform: translate(-50%, 0) rotateY(180deg);
            //animation: slide-center 1s 3s both;
        }
        &.html {
            transform: translate(-50%, 0) rotateY(90deg);
            //animation: slide-right 1s 3s both;
        }
        &.overview {
            //starts with no transform rotation
            transform: translate(-50%, 0) rotateY(0deg);
        }
        &.js {
            transform: translate(-50%, 0) rotateY(270deg);
        }
        pre {
            max-height: 80vh;
        }
        &.active, &.last {
            transition-property: all;
            transition-delay: 0s;
            opacity: 1;
        }
        &.last {
            opacity: 0;
            transition-delay: 0s;
        }
    }
}
//scrollbar stylings
::-webkit-scrollbar {
    background: transparent;
    //background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    background-color: $scroll-thumb;
}

@keyframes slide-center {
    to {opacity: 1; transform: translate(-50%, 0); }  
}
@keyframes slide-left {
    to {opacity: 0; transform: translate(-50%, 0) rotateY(-90deg);} 
}
@keyframes slide-right {
    to {opacity: 0; transform: translate(-50%, 0) rotateY(90deg);} 
}