$scroll-thumb: rgba(112, 136, 110,0.4);
$testing: false;

@mixin testing ($colour:red) {
    @if ($testing) {
        border: 3px solid $colour;
    }
    
}
%background {
    
}

:root {
    //create super nutty css variables
    //demo: http://codepen.io/jasesmith/pen/dpwjra
    --position-x: 0;
    --position-y: 0;
    --angle: -7deg;
    --cycle-state: 'paused';
}
#line{
    position:absolute;
    width: 100%;
    //100vw * (360/560) = 17.2w
    top: calc(100% - 17.2vw);
    height: auto;
    left: 0;
    #bird {
        @include testing(purple);
        /* positioning */
        position: absolute;
        top: 45%;
        left: 0px;
        z-index:10;
        transform-origin: bottom center;
        transform: rotate(0deg);
        
        /* Box-model */
        width:  8vw;
        height: 8vw;
        
        animation: move 0.6s infinite ease-in-out forwards;
        animation-play-state: paused;
        
        div {
            /* positioning */
            position: absolute;
            
            /* Box-model */
            width: 100%;
            height: 100%;
            
            /* Visual */
            background-image: url("../images/raven.png");
            background-size: auto 100%;
            background-position: 0% 0%;
            
            animation: cycleFrames 0.6s infinite steps(3,start);
            animation-play-state: paused;
            transform: rotate(var(--angle));  
        }
    }
    path {
        fill: none;
    }
}
body {
    z-index: -10;
    overflow-x: hidden;
    background-image: url('../images/paper-texture.jpg');
    
    h1 { font-size: 3em; font-family: 'Cinzel Decorative', cursive; max-width: 70vw;text-align: center;}
    h2 { font-size: 3em; text-align: center; font-family: 'Cabin Sketch', cursive;}
    p { font-family: 'Nixie One', cursive; line-height: 1.5em; font-size: 1.1em;text-align: justify;}
    a {font-family: 'Amatic SC', cursive; color: black; font-size: 2em;}
}
span {
    a:hover {
        color: #23ACE2;
        transition: 0.3;
    }
    &:hover::before {
        opacity: 1;
    }
    &::before {
        content: "";
        
        position: absolute;
        top: 0; 
        left: 0;
        z-index: -1;
        
        width: 100%; 
        height: 100%;  
        
        background: url("../images/clouds.png");
        background-size: contain;
        background-position: center top;
        background-repeat: no-repeat;
        transition: 0.3s;
        opacity: 0; 
    }
}

//contains code demo
.wrapper {
    @include testing(blue);
    
    position: relative;
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    background-image: url("../images/background-grain.jpg");
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.main-nav {
    position: absolute;
    bottom: 2em;
    
    width: 40%;
    height: 100%;
    margin-left: 2%;
    
    ul {
        display: flex; 
        width:100%;
        height: 100%;
        justify-content: space-between;
        @include testing(orange);
        //background-image: url("../images/links-background.svg");
        li {
            position: relative;
            
            width: 20%;
            max-width: 140px;
            
            @include testing(black);
            
            z-index: 1;
            a {
                display: block;
                width: 100%;
                height: 100%;
                @include testing(pink);
                
                font-size: 3em;
                text-indent: -999px;
                overflow: hidden;
                
                background-repeat: no-repeat;
                background-size: 90%;
                -webkit-filter: brightness(0);
                        filter: brightness(0);
            }
            &:hover a {
                -webkit-filter: brightness(1.5);
                        filter: brightness(1.5);
                transition: 0.3s;
            }
            &:hover::before {
                opacity: 1;
            }
            &::before {
                content: "";
                
                position: absolute;
                top: 0; 
                left: 0;
                z-index: -1;
                
                width: 100%; 
                height: 100%;  
                
                background: url("../images/clouds.png");
                background-size: 100%;
                background-repeat: no-repeat;
                transition: 0.3s;
                opacity: 0; 
            }
        }
        li:nth-child(1), li:nth-child(4) {width: 30%;}
        li:nth-child(1) a, li:nth-child(4) a { max-width: 200px; background-size:100%;}
        li:nth-child(2) a, li:nth-child(3) a {background-size: 50%; max-width: 140px;}
        li:nth-child(1) a {background-image: url("../images/link-overview.svg");}
        li:nth-child(2) a {background-image: url("../images/link-html.svg");}
        li:nth-child(3) a {background-image: url("../images/link-scss.svg");}
        li:nth-child(4) a {background-image: url("../images/link-js.svg");}
    }
}
//copy buttons
button {
    padding: 10px;
    margin: 10px;
    height: 30px;
    
    color: white;
    line-height: 10px;
    
    background: #759C44;
    border: none;
    outline: none;
    border-radius: 30px;
    
    &:hover {
        color: #183B26;
        -webkit-filter: brightness(1.2);
                filter: brightness(1.2);
    }
    &:focus, &:active {
        color: #183B26;
        -webkit-filter: brightness(1.5);
                filter: brightness(1.5);
    }
}
//contains all code examples
main {
    position: relative;
    transform-style: preserve-3d;
    perspective: 2000px;
    perspective-origin: 50% 0%;
    
    margin-top: 30px;
    width: 100%;
    min-height: 80vh;
    
    @include testing(red);
    
    section {
        position: absolute;
        top: 0px;
        left: 50%;
        transform-origin: center center -35vw;
        
        @include testing(green);
        display: flex;
        min-width: 500px;
        min-height: 500px;
        flex-direction: column;
        align-items: center;
        
        transition-property: opacity;
        transition-duration: 2s;
        transition-delay: 1s;
        
        opacity: 0;
        
        &.scss {     transform: translate(-50%, 0) rotateY(180deg);}
        &.html {     transform: translate(-50%, 0) rotateY(90deg); }
        &.overview { transform: translate(-50%, 0) rotateY(0deg);  }
        &.js {       transform: translate(-50%, 0) rotateY(270deg);}
        pre { max-height: 80vh;}
        &.active {
            z-index: 100;
        }
        &.active, &.last {
            transition-property: all;
            transition-delay: 0s;
            opacity: 1;
        }
        &.last {
            opacity: 0;
            transition-delay: 0s;
        }
    }
}

blockquote {
    p {
        text-align: center;
    }
    p::before, p::after {
        content: "\"";
    }
    cite {
        display:block;
        
        width: 100%;
        
        @include testing;
        font-style: italic;
        text-align: right;
        font-family: serif;
        
        a {font-family: serif; font-size: 1em;}
        
    }
    cite::before {
        content: "-";
    }
}
//scrollbar stylings
::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: $scroll-thumb;
    border-radius: 10px;
}

@keyframes cycleFrames {
    from {  background-position: 0%   bottom; }
    to {    background-position: 100% bottom; }
}

@keyframes move {
    to { 
        top:  calc(var(--position-y) * 1px);
        left: calc(var(--position-x) * 1px);
    } 
}
