$scroll-thumb: rgba(64,64,64,0.1);
$testing: false;
$powerline-height: 300px;
@mixin testing ($colour:red) {
    @if ($testing) {
        border: 3px solid $colour;
    }
    
}
:root {
    //create super nutty css variables
    //demo: http://codepen.io/jasesmith/pen/dpwjra
    --position-x: 0;
    --position-y: 0;
}
//nest these properly later
#line{
    position:absolute;
    width: 100%;
    bottom: 0px;
    // margin: 20px 0;
    height: auto;
    #bird {
        position: absolute;
        top: 0px;
        left: 0px;
        width:  20px;
        height: 20px;
        background-image: url("../images/shuffle.png");
        background-size: auto 100%;
        background-position: 100% 0%;
        animation: cycleFrames 1s infinite steps(3,start), move 1s infinite ease-in-out forwards;
        animation-play-state: paused;
    }
    path {
        stroke: steelblue;
        stroke-width: 1;
        fill: none;
    }
}

//wrapper for demo and header, and maybe nav (want to have it sitting on wire)
body {
    overflow-x: hidden;
    h1 { font-size: 3em;}
    h2 { font-size: 2em; text-align: center}
    background-color: #AECFEA;
}
.wrapper {
    width: 100%;
    @include testing(blue);
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #eee;
    header {
        h1 { text-align: center}
    }
}
.main-nav {
    position: absolute;
    bottom: 2em;
    min-width: 500px;
    height: 100%;
    margin-left: 2%;
    ul {
        display: flex; 
        width:100%;
        height: 100%;
        @include testing(orange);
        li {
            width: 25%;
            position: relative;
            @include testing(black);
            a {
                display: block;
                width: 100%;
                height: 100%;
                @include testing(pink);
                font-size: 1.5em;
            }
            a:hover {
                color: red;
            }
        }
    }
}
//contains all code examples
main {
    position: relative;
    width: 100%;
    @include testing(red);
    //background-color: bisque;
    transform-style: preserve-3d;
    perspective: 2000px;
    perspective-origin: 50% 0%;
    min-height: 80vh;
    section {
        //@include testing(green);
        position: absolute;
        top: 0px;
        left: 50%;
        //transform: translate(-50%, 0);
        transform-origin: center center -35vw;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 2s;
        transition-delay: 1s;
        &.scss {
            transform: translate(-50%, 0) rotateY(180deg);
            //animation: slide-center 1s 3s both;
        }
        &.html {
            transform: translate(-50%, 0) rotateY(90deg);
            //animation: slide-right 1s 3s both;
        }
        &.overview {
            //starts with no transform rotation
            transform: translate(-50%, 0) rotateY(0deg);
        }
        &.js {
            transform: translate(-50%, 0) rotateY(270deg);
        }
        pre {
            max-height: 80vh;
        }
        &.active, &.last {
            transition-property: all;
            transition-delay: 0s;
            opacity: 1;
        }
        &.last {
            opacity: 0;
            transition-delay: 0s;
        }
    }
}
//scrollbar stylings
::-webkit-scrollbar {
    background: transparent;
    //background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
    background-color: $scroll-thumb;
}

@keyframes cycleFrames {
    from { background-position: 0% bottom; }
    to {background-position: 100% bottom; }
}

@keyframes move {
    to { 
        top: calc(var(--position-y) * 1px);
        left: calc(var(--position-x) * 1px);
    } 
}
